*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: monospace; 
       
}

nav{
    background: rgb(248, 184, 193);
    height: 80px;
}

.my_logo{
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;  
}

nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: #fc034e;
}

.checkbtn{
    float: right;
    color: white;
    line-height: 80px;
    font-size: 30px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

@media(max-width:750px){
    
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        background-color: darkblue;
        width: 100%;
        height: 100vh;
        top: 60px;
        text-align: center;
        left: -100%;
        transition: all 0.5s;

    }
   
    nav ul li{
        display: block;
    }

    #check:checked~ul{
        left: 0px;
    }
}

.my_cover{
    width: 100%;
    height: 700px;
    
}

.p_title{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.card{
    max-width: 330px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0);
    margin: 25px;
    padding: 25px;
}

.card:hover{
    box-shadow: 0 14px 18px 0 red;
}

.p_image{
    width: 100%;
    height: 250px;
}

.my_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card h4{
    padding: 10px;
}

.card p{
    padding: 10px;
    margin: 10px;
}

.card a{
    padding: 10px;
    background: rgb(245, 107, 107);
    border-radius: 10%;
    margin: 10px;
}

.card a:hover{
    background: black;
    color: white;
}

.footer{
    background: rgb(252, 132, 148);
    width: 100%;
}

.footer_title h3{
    color: white;
    font-size: 32px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.footer_content h4{
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.footer_content p{
    color: white;
    padding: 10px;
}

.footer_content a{
    color: white;
}
.footer_content a:hover{
    color: red;
   
}

.footer .footer_content{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:650px){
    .footer .footer_content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}

.footer h3{
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 22px;
}

.input_deg{
    padding: 15px;
}

.my_form{
   
    background: skyblue;
    width: 25%;
    margin: auto;
    box-shadow: 10px 10px 5px rgb(25, 9, 85);
    border-radius: 6px;
    text-align: center;
    margin-top: 200px;
    
    
}

.my_form h2{
    background: black;
    color: white;
    padding: 10px;
    
}

.input_deg label{
    width: 100px;
    display: inline-block;
    font-size: 16px;

}

input[type='text'],[type='email'],[type='number'],[type='password']{
    width: 40%;
    padding: 12px;
    resize: vertical;
    box-sizing: border-box;
}

input[type='submit']{
    background: rgb(34, 34, 247);
    color: white;
    padding: 10px;
    border-radius: 10%;

}

.logout_btn{
    background: skyblue;
    color: white;
    padding: 10px;
    border-radius: 14px;
}


table{
    border: 2px solid skyblue;
    margin-top: 50px;
    margin-left: 10%;
    width: 60%;
}

th{
    background-color: black;
    color: white;
    font-size: 25px;
    text-align:center;
}

td{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}